h1{
  color:blue;font-size: 80px;
}
body{
  background-image: url(back.jpg);
  background-repeat: no-repeat;
background-size: 1400px;
background-position:right ;
}
p{
  color:whitesmoke;
}

  